/* User profile page */
users-show-page {
    .user-info {
        .thumbnail {
            margin-bottom: 0px;
        }
    }

    .nav-tabs {
        margin-bottom: 20px;

        >li.active > a {
            background-color: #fff;
        }
    }

    .list-group {
        .list-group-item {
            border: none;
            margin-bottom: 0px;
            border-bottom: 1px solid #efefef;

            .meta {
                color: #b3b3b3;
            }
        }
    }

    .pagination {
        margin: 12px 0;
    }

    .meta {
        font-size: .9em;
        color: #b3b3b3;
    }
    .reply-content {
        margin: 6px 0;
    }
}